@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Bienvenido</h1>
        <p class="lead">SGU es un sistema de gestión de usuarios.</p>
    </section>
</main>